
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        hello world!
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Регистрация", "Index", "Registration")</li>
                <li>@Html.ActionLink("Смена пароля", "Index", "Restore")</li>
            </ul>
        </div>
    </div>
</body>
</html>
