@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <div>
        <h4>Форма восстановления пароля в системе ELMA</h4>
        @Html.Partial("AuthForm")
    </div>
</body>
</html>
